<div class="account-settings-container p-5">
    <mat-card appearance="outlined">
        <mat-card-header>
            <h1 class="header pb-5">
              Account Settings
            </h1>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="accountSettingsForm">
                <div class="form-container mb-3">
                    <mat-form-field appearance="outline" class="account-settings-form-field" MatInput>
                        <mat-label> Username </mat-label>
                        <input
                            id="username-input"
                            name="username"
                            formControlName="usernameFormControl"
                            placeholder="Username"
                            matInput
                            required
                            maxlength="32"
                        />
                        <mat-icon matPrefix> person </mat-icon>
                        <mat-error *ngIf="hasError('usernameFormControl')"> The username is required </mat-error>
                    </mat-form-field>
                    <button
                        type="button"
                        [ngClass]="{ 'submit-button': !isDisabled('username') }"
                        (click)="updateAttribute('username')"
                        [disabled]="isDisabled('username')"
                        tabindex="0"
                        matSuffix
                        mat-icon-button
                    >
                        <app-spinner-icon class="material-icons" icon="done_all" [spinning]="isLoading('username')"></app-spinner-icon>
                    </button>
                </div>
                <div class="form-container mb-3">
                    <mat-form-field appearance="outline" class="account-settings-form-field" MatInput>
                        <mat-label> Password </mat-label>
                        <input
                            id="password-input"
                            name="password"
                            [type]="hidePassword ? 'password' : 'text'"
                            formControlName="passwordFormControl"
                            placeholder="Password"
                            matInput
                            required
                            maxlength="32"
                        />
                        <mat-icon matPrefix> lock </mat-icon>
                        <button
                            id="hide-password-button"
                            type="button"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword"
                            (click)="hidePassword = !hidePassword"
                            tabindex="0"
                            matSuffix
                            mat-icon-button
                        >
                            <mat-icon> {{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('passwordFormControl')"> The password is required </mat-error>
                    </mat-form-field>
                    <button
                        type="button"
                        [ngClass]="{ 'submit-button': !isDisabled('password') }"
                        (click)="updateAttribute('password')"
                        [disabled]="isDisabled('password')"
                        tabindex="0"
                        matSuffix
                        mat-icon-button
                    >
                        <app-spinner-icon class="material-icons" icon="done_all" [spinning]="isLoading('password')"></app-spinner-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>