<div class="tmp-voice-bot-container p-5">
    <mat-card appearance="outlined">
        <mat-card-header>
            <h1 class="header pb-4">
              Team Voice Bot
            </h1>
        </mat-card-header>
        <mat-card-content>
            <div class="col">
                <div class="actions py-2 d-flex flex-wrap justify-content-evenly">
                    <button mat-raised-button class="start my-1" (click)="startBot()">
                        <mat-icon> power_settings_new </mat-icon>
                        START
                    </button>
                    <button mat-raised-button class="restart my-1">
                        <mat-icon> replay </mat-icon>
                        RESTART
                    </button>
                    <button mat-raised-button color="warn" class="my-1">
                        <mat-icon> block </mat-icon>
                        STOP
                    </button>
                </div>
            </div>
            <div class="console-container mt-3">
                <div class="console p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorum, perspiciatis deserunt et ad veritatis esse doloribus nihil! Ducimus expedita repellendus sunt esse laudantium possimus adipisci sapiente labore eum architecto?
                </div>
            </div>
            <div class="edit d-flex flex-wrap justify-content-start gap-3 mt-3">
                <button mat-raised-button color="primary" class="my-1">
                    <mat-icon> edit </mat-icon>
                    TEAMS
                </button>
                <button mat-raised-button color="primary" class="my-1">
                    <mat-icon> edit </mat-icon>
                    CHANNELS 
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>