.tmp-voice-bot-container {
    display: flex;
    justify-content: center;
    top: 7.5vh;
    width: 100%;
    min-height: 100%;
}

mat-card {
    width: 90%;
    height: 90%;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.actions {
    width: 80%;
    margin-left: 10%;
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);

    .start {
        background-color: #7BC47F;
        color: white;
    }

    .restart {
        background-color: #F6BD60;
        color: white;
    }

    .stop {
        background-color: #FF7E6B;
        color: white;
    }
}

.console-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .console {
        width: 80%;
        height: 30vh;
        border-radius: 5px;
        overflow-y: scroll;
        background-color: #201c1c;
        color: white;
        font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
        font-size: smaller;
        border: 1px solid darkgrey;
    }
}

.edit {
    width: 80%;
    margin-left: 10%;

    & > button {
        color: black;
    }
}